    <footer class="footer" role="footer">
          <div class="container">
              <ul class="list-social">   
                  <li class="list-social-item"><a class="link instagram" href="http://instagram.com/younghungryco" target="_blank">Instagram</a></li>
                  <li class="list-social-item"><a class="link facebook" href="https://www.facebook.com/younghungryco" target="_blank">Facebook</a></li>          
                  <li class="list-social-item"><a class="link dribbble" href="http://dribbble.com/younghungryco" target="_blank">Dribbble</a></li>
                  <li class="list-social-item"><a class="link twitter" href="https://twitter.com/younghungryco" target="_blank">Twitter</a></li>
              </ul>
          </div>
        </footer>

<script type="text/javascript">
$(function(){
  $('.grid').masonry({
    // options
    itemSelector : '.item',
    columnWidth : 60,
    gutter: 20,
    transitionDuration: 2,
    isResizable: true,
  });
}); 
</script>        
