// imports

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// colors

$color-1: #2978A0; // Jelly Bean
$color-2: #315659; // Spectra
$color-3: #BCAB79; // Gimblet
$space: #6c6c6c; // Outer Space
$cotton: #FFFFFF; // White
$lavender: #f0ebfb; // Lavender
$oatmeal: #dbdbdb; // Oatmeal
$whitegold: #CBB07B; // White Gold

	//sixfusion

	$sfgreen: #b3d663;
	$sf-powder: #eae4e6;

// fonts 

$primary-font: "Montserrat", "Gotham", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: 'Playfair Display', serif;

//number of projects

$items: 3;