<!doctype html>
<html lang="en" class="no-js">

  {% include head.html %}

  <body>

    {% include header.html %}

  <div class="container grid animated fadeInUp" id="grid">
    <a class="case-link" href="https://dribbble.com/patrickrogan/projects/329375-Crunchyroll">
      <div class="item two-one" id="crunchyroll">
        <div class="case-caption">
          <h1>Redesigning a Viewing Experience</h1>
          <h3>UX/UI Design <span>for</span> Crunchyroll</h3>
        </div>
      </div>
    </a>
    <a class="case-link" href="#">
      <div class="item one" id="mini-bio">
        <div class="case-caption">
          <p>My name is Patrick. I create digital solutions by rethinking the way we interact with technology and brands.</p>
          <h3>Learn More</h3>
        </div>
      </div>
    </a>
    <a class="case-link" href="https://dribbble.com/patrickrogan/projects/223851-BLK-MRKT">     
      <div class="item one-two" id="blkmrkt">
        <div class="case-caption">
          <h1>Creating a smooth mobile shopping experience</h1>
          <h3>Mobile UI &amp; Branding <span>for</span> Tapp Industries</h3>
        </div>    
      </div>
    </a>
    <a class="case-link" href="/work/6fusion.html">
      <div class="item two-one" id="sixfusion">
        <div class="case-caption">
          <h1>A higher level of cost optimization</h1>
          <h3>UX/UI &amp; Front-End Development <span>for</span> 6Fusion</h3>
        </div>    
      </div>
    </a>
    <a class="case-link" href="#">
      <div class="item two-one" id="aesthete">
        <div class="case-caption">
          <h1>A meeting of aesthetics and technology</h1>
          <h3>Branding <span>for</span> Aesthete</h3>
        </div>
      </div>  
    </a>
  </div>

    {% include footer.html %}
    
</body>
</html>
